$sun-background: #f5f5f5;
$sun-shadow-inner: #fff;
$sun-shadow-outer: #dbe3ec;
$sun-text: #53587e;
$sun-link-blue: #0080ef;
$sun-link-blue-light: #46a9ff;
$sun-link-neon: #20ff9e;
$sun-link-neon-light: #53ffb4;
$sun-link-gradient: linear-gradient(
  to top right,
  $sun-link-blue,
  $sun-link-neon
);

$moon-background: #404e6e;
$moon-shadow-inner: #52607e;
$moon-shadow-outer: #39496b;
$moon-text: #9faed2;
$moon-link-blue: #005bb5;
$moon-link-blue-light: #0067ce;
$moon-link-neon: #00cf75;
$moon-link-neon-light: #24e993;
$sun-link-gradient: linear-gradient(
  to top right,
  $moon-link-blue,
  $moon-link-neon
);

$icon-sun-orange: #ff5313;
$icon-sun-yellow: #ffac30;
$icon-sun-shadow: #feb06b;

$icon-moon-blue: #5b66ff;
$icon-moon-aqua: #9ef2ff;
$icon-moon-shadow-light: #a1d9ff;
$icon-moon-shadow-dark: #39496b;
$icon-moon-clouds: #afcaff;

$de-barbie-pink: #ff5bce;
$de-barbie-pink-light: #ff7bd7;
$de-mandarin: #ff7920;
$de-mandarin-light: #ff934c;

$de-aubergine-dark: #540d77;
$de-aubergine-medium-dark: #6d0bad;
$de-aubergine-medium-light: #8c15cf;
$de-aubergine-light: #a01ce5;

$de-grape-dark: #5f0081;
$de-grape-medium: #982baa;
$de-grape-light: #be47c5;
