.coat-hanger {
  left: 100px;
  position: absolute;
  transform: scale(1.2);
  z-index: 1;
  top: 140px;
  .hanger {
    width: 30px;
    height: 280px;
    background: radial-gradient(#00000000 48%, #181818 50%, #7c7c7c);
    border-radius: 3px;
    background-position: 45px 80px;
    &__top {
      position: absolute;
      top: -5px;
      left: -17.5px;
      width: 65px;
      height: 4px;
      border-radius: 100%;
      background: radial-gradient(#00000000 30%, #181818 50%, #7c7c7c);
    }

    &__arm {
      top: -5px;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      box-shadow: inset -7px -1px 1px 1px #333333;
      transform: rotate(20deg);
      left: -31px;
      z-index: -1;
      &:nth-child(2) {
        left: 12px;
        transform: rotate(-20deg) scaleX(-1);
      }
      &:nth-child(3) {
        width: 14px;
        height: 14px;
        top: 34px;
        left: 8px;
        box-shadow: none;
        background: radial-gradient(white 0%, #616161 20%, #333 50%);
        background-position: -1px -4px;
        z-index: 1;
      }
    }

    &__foot {
      position: absolute;
      bottom: -20px;
      left: -13px;
      width: 20px;
      height: 35px;
      border-radius: 100%;
      box-shadow: inset -7px -2px 1px 1px #303030;
      transform: rotate(60deg);
      &:nth-child(5) {
        left: 23px;
        transform: rotate(-60deg) scaleX(-1);
      }
      &:nth-child(6) {
        box-shadow: none;
        bottom: -16px;
        left: 11px;
        background: #3a3a3a;
        width: 8px;
        transform: rotate(0);
      }
    }

    .knob {
      position: absolute;
      width: 6px;
      height: 6px;
      top: 34px;
      left: -25px;
      border-radius: 100%;
      background: radial-gradient(white 0%, #747474 40%, #333 100%);
      &:nth-child(8) {
        left: 50px;
      }
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11) {
        top: unset;
        left: -20px;
        bottom: -6px;
      }
      &:nth-child(10) {
        bottom: -6px;
        left: 12px;
      }
      &:nth-child(11) {
        left: 44px;
      }
    }

    .scarf {
      position: absolute;
      top: 39.5px;
      left: -20px;
      width: 10px;
      height: 140px;
      background: linear-gradient(#26345f 20%, #181b2b 90%);
      border-top-left-radius: 100%;
      border-bottom-right-radius: 10px;
      box-shadow: -3px 5px 5px #0f183125;
      &:nth-child(13) {
        left: -9px;
        transform: scaleX(-1);
        height: 200px;
        background: linear-gradient(#1a274d 10%, #080808 90%);
        box-shadow: 3px 5px 5px #0f183125;
      }
    }

    .coat,
    .coat__back,
    .coat__arm {
      position: absolute;
      top: 40px;
      left: 34px;
      width: 15px;
      height: 140px;
      background: linear-gradient(#c56b2f 20%, #83441a 90%);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 4px;
      box-shadow: 3px 5px 5px #422a1a2d;
      &__back {
        top: 0;
        left: 5px;
        border-top-left-radius: 100%;
        transform: scaleX(-1);
        background: linear-gradient(#b35f28 20%, #6e3915 90%);
        z-index: -1;
      }
      &__arm {
        border-top-left-radius: 100%;
        background: linear-gradient(#b35f28 20%, #6e3915 90%);
        top: 0;
        width: 10px;
        left: 12px;
        transform: scaleX(-1);
        height: 110px;
        z-index: -1;
        &:nth-child(2) {
          transform: scaleX(1);
          background: linear-gradient(#c56b2f 20%, #83441a 90%);
          left: -4px;
          z-index: 1;
          box-shadow: -3px 5px 5px #422a1a2d;
        }
      }
    }
  }
}
