.nature__one,
.nature__two {
  left: 100px;
  height: 300px;
  width: 200px;
  position: absolute;
  transform: scale(1.2);
  z-index: 2;
  bottom: 56px;
  .tree {
    position: absolute;
    left: -60px;
    z-index: -10;
    &__top,
    &__middle,
    &__bottom {
      position: absolute;
      top: 100px;
      left: 80px;
      border-style: solid;
      border-width: 0 0 50px 30px;
      border-color: transparent transparent #508370 transparent;
      z-index: -1;
      &:nth-child(2) {
        left: 110px;
        transform: scaleX(-1);
        border-color: transparent transparent #62a083 transparent;
      }
    }
    &__middle {
      top: 125px;
      left: 65px;
      border-width: 0 0 65px 45px;
      border-color: transparent transparent #3d6452 transparent;
      z-index: -2;
      &:nth-child(4) {
        left: 110px;
        transform: scaleX(-1);
        border-color: transparent transparent #508370 transparent;
      }
    }
    &__bottom {
      top: 152px;
      left: 50px;
      border-width: 0 0 85px 60px;
      border-color: transparent transparent #345247 transparent;
      z-index: -3;
      &:nth-child(6) {
        left: 110px;
        transform: scaleX(-1);
        border-color: transparent transparent #3d6452 transparent;
      }
    }
    &__trunk {
      position: absolute;
      top: 230px;
      left: 100px;
      width: 20px;
      height: 40px;
      background: linear-gradient(to left, #614848 50%, #4d3939 52%);
      z-index: -4;
    }
  }
  .rocks {
    position: absolute;
    transform: scale(0.7);
    bottom: 0;
    left: -10px;
    .rock {
      bottom: 10px;
      position: absolute;
      border-style: solid;
      border-width: 10px 30px 40px 40px;
      border-color: #775f5f #614848 #4d3939 #423131;
      transform: skewX(-20deg) skewY(-2deg);
      &:nth-child(2) {
        left: 40px;
        z-index: 1;
        border-width: 20px 50px 60px 10px;
        border-color: transparent #584141 #423232 transparent;
        transform: skewX(-20deg) skewY(-1deg);
      }
      &:nth-child(3) {
        bottom: 12px;
        left: 129px;
        z-index: 1;
        border-width: 49px 60px 30px 0px;
        border-color: transparent #725858 #614848 transparent;
        transform: skewX(20deg) skewY(-1deg) scaleX(-1);
      }
      &:nth-child(4) {
        bottom: 11px;
        left: 75px;
        border-width: 0 40px 80px 40px;
        border-color: transparent transparent #836868 transparent;
        transform: skewY(-1deg);
      }
      &:nth-child(5) {
        bottom: 11px;
        left: 80px;
        z-index: 1;
        border-width: 10px 40px 30px 30px;
        border-color: transparent transparent #5f4444 #745757;
        transform: skewY(-0.5deg) skewX(-20deg);
      }
    }

    .grass {
      .straw {
        position: absolute;
        bottom: 6px;
        width: 10px;
        height: 20px;
        border-radius: 100%;
        box-shadow: inset -2px 3px 1px #28815f;
        transform: rotate(-25deg);
        z-index: 2;
        &:nth-child(2) {
          height: 30px;
          left: 15px;
          box-shadow: inset -2px 3px 1px #20977d;
          transform: rotate(25deg) scaleX(-1);
        }
        &:nth-child(3) {
          height: 15px;
          left: 16px;
        }
        &:nth-child(4) {
          height: 15px;
          left: 28px;
          box-shadow: inset -2px 3px 1px #399b42;
          transform: rotate(25deg) scaleX(-1);
        }
        &:nth-child(5) {
          height: 40px;
          width: 20px;
          left: 62px;
          bottom: 3px;
          transform: rotate(-25deg);
          box-shadow: inset -2px 3px 1px #2f7938;
        }
        &:nth-child(6) {
          height: 30px;
          width: 20px;
          left: 84px;
          bottom: 3px;
          transform: rotate(15deg) scaleX(-1);
          box-shadow: inset -1px 2px 1px #4cac97;
        }
        &:nth-child(7) {
          height: 30px;
          width: 2px;
          left: 84px;
          bottom: 10px;
          transform: rotate(0deg);
          background: #48ac61;
        }
        &:nth-child(8) {
          height: 15px;
          width: 10px;
          bottom: 10px;
          left: 203px;
          box-shadow: inset -1px 2px 1px #2f7938;
          transform: rotate(14deg) scaleX(-1);
        }
        &:nth-child(9) {
          height: 25px;
          width: 7px;
          left: 202px;
          bottom: 10px;
          transform: rotate(10deg) scaleX(-1);
          box-shadow: inset -1px 3px 1px #52a180;
        }
      }
    }
  }

  .bird {
    position: absolute;
    left: 20px;
    transform: scale(1) rotate(5deg);
    z-index: 1;
    top: 50px;
    .body {
      position: absolute;
      background: linear-gradient(to left, #868686, #d4d4d4);
      width: 12px;
      height: 16px;
      border-radius: 100%;
      border-top-left-radius: 10%;
      border-bottom-left-radius: 80%;
      border-bottom-right-radius: 0%;
      transform: rotate(-30deg) skewY(10deg);
    }
    .wing {
      position: absolute;
      top: -15px;
      left: 18px;
      width: 20px;
      height: 30px;
      border-radius: 30%;
      box-shadow: -2px 5px 1px #666666;
      transform: rotate(110deg) skewX(20deg);
      &:nth-child(2) {
        left: -9px;
        z-index: -1;
        height: 25px;
        top: 12px;
        transform: rotate(-190deg) scaleX(-1);
      }
    }
  }
}

.nature__two {
  position: absolute;
  left: unset;
  right: 200px;
  height: 300px;
  width: 200px;
  transform: scale(1.2);
  z-index: 1;
  bottom: 56px;

  .rocks {
    left: unset;
    right: -100px;
    transform: scale(1) scaleX(-1) rotate(1deg);
    .tree {
      position: absolute;
      top: -291px;
      left: unset;
      right: 70px;
      z-index: 1;
      &__top {
        position: absolute;
        left: 81px;
        top: 160px;
        border-style: solid;
        border-width: 0 0 100px 30px;
        border-color: transparent transparent #3d6455 transparent;
        z-index: -1;
        &:nth-child(2) {
          left: 110px;
          transform: scaleX(-1);
          border-color: transparent transparent #50836b transparent;
        }
      }
      &__trunk {
        top: 241px;
        left: 103.5px;
        width: 12px;
        background: linear-gradient(to left, #574040 50%, #3d2d2d 52%);
      }
    }
  }
  .bird {
    position: absolute;
    left: unset;
    right: -70px;
    top: 140px;
    transform: rotate(-30deg) scale(0.4) scaleX(-1);
  }
}
